# Use FLNK from another record to process this
# template when you want it to update
# Macros:
#	DEV			- EVR device prefix
#	FID_NAME	- What do you want to name this fiducial value?
#	TGT			- PV that you get the fiducial timestamp from
record( genSub, "$(DEV):$(FID_NAME)" )
{
	field( DESC, "Current Fiducial" )
	field( SCAN, "Passive" )
	field( SNAM, "evrTimeGetFiducial" )
	field( INPA, "$(TGT).NAME" )
	field( TSE,  "-2" )
}
